.DS_Store
.idea/
node_modules
www/css
www/js
www/*.html
www/htmlPartials
www/img
www/font
www/spec
.cordova/hooks
platforms/ios/www/res/
platforms/ios/www/css
platforms/ios/www/img
platforms/ios/www/font
platforms/ios/www/js
platforms/ios/www/htmlPartials
platforms/ios/www/index.html
platforms/ios/www/cordova.js
platforms/ios/www/phonegap.js
platforms/ios/cordova/
platforms/ios/CordovaLib/
/platforms/ios/build/*.build/Debug-iphonesimulator/*.build/*.dep
/platforms/ios/build/*.build/Debug-iphonesimulator/*.build/build-state.dat
/platforms/ios/*.xcodeproj/project.xcworkspace/xcuserdata/*.xcuserdatad/UserInterfaceState.xcuserstate